[user]
    name = {{{user.name}}}
    email = {{{user.email}}}

{{#urls}}
[url "{{{path}}}"]
    insteadOf = {{{name}}}:
{{/urls}}

[alias]
    aliases = config --get-regexp alias
    # repository
    root = rev-parse --show-toplevel
    zip = "!f() { archive_name=\"$(basename \"$(git rev-parse --show-toplevel)\")\"; git archive --format=zip --prefix=\"$archive_name/\" --output=\"$archive_name.zip\" HEAD; }; f"
    # tooling
    ii = "!f() { lazygit; }; f"
    # inspection
    s = status --short --branch
    ss = status --short --branch --untracked-files=no
    df = diff
    dfc = diff --cached
    lg = log --format=compactlog --max-count=7
    last = log -1 HEAD --stat
    sh = show --stat
    # search
    find = grep --line-number --heading --break
    when = log --all --format=compactlog -S
    # commits
    aa = add --patch
    un = restore --staged
    cm = commit -m
    amend = commit --amend --no-edit
    pick = cherry-pick
    undo = reset --mixed HEAD~1
    # branches
    bs = branch --list --all --format='%(HEAD) %(color:magenta)%(refname:short)%(color:reset) %(color:yellow)%(objectname:short)%(color:reset) [%(color:blue)%(upstream:short)%(color:reset)] %(color:dim cyan)%(committerdate:relative)%(color:reset) %(color:green)%(authorname)%(color:reset) %(contents:subject)' --sort=-committerdate
    new = switch --create --track
    co = checkout
    # submodules
    sms = submodule foreach 'git status'
    smu = submodule update --init --remote

[column]
    ui = auto

[commit]
    verbose = true

[core]
    autocrlf = true
    longpaths = true
    untrackedCache = true

[credential]
    helper =
    helper = manager

[diff]
    algorithm = histogram
    colorMoved = zebra
    renames = copy
    submodule = log

[fetch]
    prune = true
    pruneTags = true

[filter "lfs"]
    process = git-lfs filter-process
    smudge = git-lfs smudge -- %f
    clean = git-lfs clean -- %f

[init]
    defaultBranch = main

[log]
    abbrevCommit = true
    decorate = short

[merge]
    conflictStyle = zdiff3

[pretty]
    compactlog = %C(yellow)%h%C(reset) %C(dim cyan)%ar%C(reset) %C(green)%an%C(reset) %C(white)%s%C(reset)%C(bold red)%d%C(reset)

[pull]
    ff = only

[push]
    autoSetupRemote = true
    default = simple
    followTags = true

[status]
    short = true
    branch = true
    aheadBehind = true
    relativePaths = true
    showUntrackedFiles = all
    showStash = true
    renames = copy

[submodule]
    recurse = true

[tag]
    sort = version:refname
