[user]
    name = {{user.name}}
    email = {{user.email}}

{{#urls}}
[url "{{path}}"]
    insteadOf = {{name}}:
{{/urls}}

[alias]
    # (interface)
    ii = "!f() { lazygit; }; f"
    # add
    aa = add --patch
    # archive
    zip = "!f() { archive_name=$(basename $(git rev-parse --show-toplevel)).zip; git archive --format=zip --output=$archive_name HEAD; }; f"
    # config
    aliases = config --get-regexp alias
    # branch
    bs = branch --list --all --format='%(HEAD) %(color:magenta)%(refname:short)%(color:reset) %(color:yellow)%(objectname:short)%(color:reset) [%(color:blue)%(upstream:short)%(color:reset)] %(color:dim cyan)%(committerdate:relative)%(color:reset) %(color:green)%(authorname)%(color:reset) %(contents:subject)' --sort=-committerdate
    new = branch --track
    del = branch --delete
    # checkout
    co = checkout
    # cherry-pick
    pick = cherry-pick
    # commit
    cm = commit -m
    amend = commit --amend --no-edit
    # diff
    df = diff
    dfc = diff --cached
    # log
    lg = log --format=compactlog --max-count=5
    last = log -1 HEAD --stat
    # pull
    pr = pull --rebase
    # reset
    undo = reset --mixed HEAD~1
    discard = !git reset --hard && git clean -d --force
    # status
    s = status --short --branch
    ss = status --short --branch --untracked-files=no
    # submodule
    clone-sm = clone --recurse-submodules
    sm-status = submodule foreach 'git status'
    sm-update = submodule update --recursive --remote
    sm-pull = submodule foreach 'git pull'
    sms = sm-status
    smu = sm-update
    # compound aliases
    sync = !git pull --rebase && git push

[core]
    autocrlf = true

[credential]
	helper = wincred

[filter "lfs"]
    process = git-lfs filter-process
    smudge = git-lfs smudge -- %f
    clean = git-lfs clean -- %f
    required = true

[init]
    defaultBranch = main

[log]
    abbrevCommit = true
    decorate = short

[merge]
    conflictStyle = diff3

[pretty]
    compactlog = %C(yellow)%h%C(reset) %C(dim cyan)%ar%C(reset) %C(green)%an%C(reset) %C(white)%s%C(reset)%C(bold red)%d%C(reset)

[push]
    default = simple
    followTags = true

[status]
    short = true
    branch = true
    aheadBehind = true
    relativePaths = true
    showUntrackedFiles = all
    showStash = true
    renames = copy
